* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: #312e41;
  font-family: "NEXON Lv1 Gothic OTF";
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #000000;
}

button,
input {
  outline: none;
  border: none;
  background: transparent;
  font-family: "NEXON Lv1 Gothic OTF";
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.portfoilo__title {
  padding: 1em 0;
  margin: 1em 0;
  width: 100%;
  text-align: center;
  position: relative;
}
.portfoilo__title::before {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 2px;
  content: "";
  background: #312e41;
}

.loading__box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 10px solid #aad4da;
  border-top: 10px solid #b9dedf;
  border-radius: 50em;
  animation-name: loading;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
